# Dependencies
node_modules



# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test / coverage
coverage

# Optional caches
.eslintcache
*.tsbuildinfo
